<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.karen.base">

    <permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <activity
            android:name=".dialog.DialogActivity"
            android:theme="@style/base_AlertDialogActivity" />
    </application>
</manifest>